[user]
	email = Harrypetersun@outlook.com
	name  = Jrchintu
[push]
    default = simple
[alias]
    log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	graph = log --graph --pretty=format:'%C(bold blue)%h%Creset - %C(yellow)(%ar)%C(reset) %s %C(white)<%an>%Creset %C(reverse yellow)%d%Creset' --abbrev-commit
[help]
	autocorrect = 1
[core]
	editor = nano
